<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.korea.health.user.model.review.ReviewMapper">

	<select id = "totalCnt" resultType = "java.lang.Integer">
		select count(*) from review
	</select>
	
	   <select id="allReviewList" resultType="com.korea.health.user.model.review.ReviewVO">
         select * from review order by REVIEW_NO DESC
   </select>
	<select id="reviewlist" resultType="com.korea.health.user.model.review.ReviewVO" parameterType="com.korea.health.user.model.review.ReviewPagingInfo">
		<![CDATA[
			select * from (select rownum rnum, t1.* from 
					(select * from review order by review_no DESC) t1) 
					 where rnum >= #{start} and rnum <= #{end}
		]]>
	
	</select>

	<select id="listsch" resultType="com.korea.health.user.model.review.ReviewVO" parameterType="com.korea.health.user.model.review.ReviewVO"> 
		<!-- select * from board where title like '%'||#{title}||'%' -->
		select * from review where title like '%${title}%'
	</select>

	<select id="detail" resultType="com.korea.health.user.model.review.ReviewVO" parameterType="java.lang.Integer">
		SELECT * FROM REVIEW WHERE REVIEW_NO = #{review_no, jdbcType=INTEGER}
	</select>
	<select id="chkID" resultType="com.korea.health.user.model.review.ReviewVO" parameterType="java.lang.Integer">
		SELECT user_id FROM REVIEW WHERE REVIEW_NO = #{review_no, jdbcType=INTEGER}
	</select>
	
	<!-- <sql id="noMax">
		SELECT SEQ_REVIEW.NEXTVAL FROM DUAL
	</sql> -->
	<sql id="noMax">
		(SELECT MAX(REVIEW_NO)+1 FROM REVIEW)
	</sql>
	
	 <sql id="includeNum">
		(SELECT REVIEW_NO FROM REVIEW WHERE REVIEW_NO = #{review_no, jdbcType=INTEGER})
	</sql>

	
	<insert id="insert" parameterType="com.korea.health.user.model.review.ReviewVO">
	 <selectKey keyProperty="review_no" resultType="java.lang.Integer" order="BEFORE">
			<include refid="noMax"/>
		</selectKey>
		INSERT INTO REVIEW
		(review_no, user_id, TITLE, CONTENT, REGDATE, Review_file_name, tr_no, lo_no, cnt, starCnt)
		values
		(SEQ_REVIEW.NEXTVAL,#{user_id}, #{title}, #{content}, SYSDATE, #{review_file_name, jdbcType=VARCHAR}, #{tr_no}, #{lo_no},0, #{starCnt})
	</insert>
	
	<update id="modify" parameterType="com.korea.health.user.model.review.ReviewVO">
		update review
		set
		title = #{title}, content =  #{content}, review_file_name = #{review_file_name, jdbcType=VARCHAR}, tr_no = #{tr_no}, lo_no = #{lo_no},  starCnt = #{starCnt}
		where  review_no = #{review_no} 
	</update>
	
	<update id="fileDelete" parameterType="com.korea.health.user.model.review.ReviewVO">
		update review
		set
		 review_file_name = ''
		where  review_no = #{review_no} 
	</update>
	
	<update id="trainerStar" parameterType="com.korea.health.user.model.review.ReviewVO">
		UPDATE TRAINER SET STAR = (star + (SELECT SUM(starcnt) FROM REVIEW WHERE TR_NO = #{tr_no})) / 
     	(SELECT COUNT(*) FROM REVIEW WHERE TR_NO = #{tr_no}) WHERE TR_NO = #{tr_no}
	</update>
	
	<delete id = "delete"  parameterType="com.korea.health.user.model.review.ReviewVO">
		delete from review where review_no = #{review_no, jdbcType=INTEGER} 
	</delete>
	
	<update id="trainerStarDel" parameterType="com.korea.health.user.model.review.ReviewVO">
		UPDATE TRAINER SET STAR = (((select sum(starcnt) from review where tr_no = #{tr_no}) - (SELECT starcnt FROM REVIEW WHERE review_no = #{review_no})) / 
     	(SELECT COUNT(*)-1 FROM REVIEW WHERE TR_NO = #{tr_no})) WHERE TR_NO = #{tr_no}
	</update>
	
	<update id = "updateCnt" parameterType = "java.lang.Integer">
      UPDATE REVIEW SET CNT = CNT + 1 WHERE REVIEW_NO = #{review_no, jdbcType=INTEGER}
   </update>
   
   <select id="searchID" parameterType="java.lang.String" resultType="int">
   	SELECT count(*) FROM RESERVATION WHERE USER_ID = #{user_id}
   </select>
   
   <select id="reviewWrite" resultType="com.korea.health.user.model.Reservation.ReservationVO" parameterType="java.lang.String">
   	select
   		lo_name, lo_no, tr_name
   	from
   		reservation
   		WHERE USER_ID = #{user_id}
   </select>
   
</mapper>


