<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.korea.health.admin.model.event.EventMapper">

	<select id="eventList" resultType="com.korea.health.admin.model.event.EventadminVO">
		SELECT * FROM event
	</select>
	
	<select id="eventDetail" resultType="com.korea.health.admin.model.event.eventVO"
		parameterType="java.lang.Integer">
		SELECT * FROM event WHERE event_cnt = #{event_cnt}
	</select>
	
	<insert id="eventInsert" parameterType="com.korea.health.admin.model.event.eventVO">
		<selectKey keyProperty="event_cnt" resultType="java.lang.Integer" order="BEFORE">
			select max(event_cnt)+1 from event
		</selectKey>
		insert into event (event_cnt, event_no, event_name, event_price, regdate)
		values
		(#{event_cnt}, #{event_no}, #{event_name}, #{event_price}, #{regdate})
	</insert>
	
	<update id="eventModify" parameterType="com.korea.health.admin.model.event.eventVO">
		update event set event_cnt = #{event_cnt}, event_no = #{event_no}, event_name = #{event_name}, event_price = #{event_price}, 
		regdate = #{regdate} where event_cnt = #{event_cnt}
	</update>
	
	<delete id="eventDelete" parameterType="com.korea.health.admin.model.event.eventVO">
		delete from event where event_cnt = #{event_cnt}
	</delete>
	
	<update id="newNum" parameterType="com.korea.health.admin.model.event.eventVO">
	<![CDATA[
		update event set event_cnt = event_cnt - 1 where #{event_cnt} < event_cnt
	]]>
	</update>
	
	<select id="eventCnt" resultType="java.lang.String">
		select count(*)+1 from event
	</select>
</mapper>