<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.korea.health.user.model.qna.QnaMapper">
	<select id="totalCnt" resultType="java.lang.Integer"  >
		select count(*) from qna
	</select>


	<select id="qnaList" resultType="qnaVO" parameterType="infoqnaVo">
		<![CDATA[
			select * from (select rownum rnum, t1.* from 
					(select * from qna order by qna_no DESC) t1) 
					 where rnum >= #{start} and rnum <= #{end}
		]]>
	</select>
	<sql id="noMax">
		(SELECT MAX(QNA_NO)+1 FROM QNA)
	</sql>		
	<update id = "updateCnt" parameterType = "java.lang.Integer">
		UPDATE QNA SET CNT = CNT + 1 WHERE QNA_NO = #{qna_no}
	</update>
	<select id="detail" resultType="qnaVO" parameterType="java.lang.Integer">
		SELECT * FROM QNA WHERE QNA_NO = #{qna_no}
	</select>
		
	<insert id="insert" parameterType="qnaVO">
		<selectKey keyProperty="qna_no" resultType="java.lang.Integer" order="BEFORE">
			<include refid="noMax"/>
		</selectKey> 
		INSERT INTO QNA (QNA_NO, TITLE, CONTENT, REGDATE, CNT)
		values
		(#{qna_no}, #{title}, #{content}, SYSDATE, 0)
	</insert>


	
	<update id="modify" parameterType="qnaVO">
			UPDATE QNA SET TITLE = #{title}, CONTENT = #{content} WHERE QNA_NO = #{qna_no}
	</update>	
	
	
	<delete id = "delete" parameterType="java.lang.Integer">
		DELETE FROM QNA WHERE QNA_NO = #{qna_no}
	</delete>
	
	<update id="deleteNum" parameterType="qnaVO">
		<![CDATA[
			update qna set qna_no = qna_no - 1 where #{qna_no} <qna_no ]]>
	</update>
	
</mapper>

