<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.korea.health.user.model.qna.QnaMapper">
	<select id="totalCnt" resultType="java.lang.Integer"  >
		select count(*) from qna
	</select>


	<select id="qnaList" resultType="qnaVO" parameterType="infoqnaVo">
		<![CDATA[
			select * from (select rownum rnum, t1.* from 
					(select * from qna order by qna_no DESC) t1) 
					 where rnum >= #{start} and rnum <= #{end}
		]]>
	</select>
	<select id="detail" resultType="qnaVO" parameterType="java.lang.Integer">
		SELECT * FROM QNA WHERE QNA_NO = #{qna_no}
	</select>

</mapper>

