<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.korea.health.user.model.Location.LocaMapper">

	<select id="list" resultType="com.korea.health.user.model.Location.LocationVO"> 
		select DISTINCT lo_name, lo_tel, lo_addr,lo_no,lo_pic,content from location
	</select>

 	<select id="detail" resultType="com.korea.health.user.model.Location.LocationVO" parameterType="java.lang.String"> 
		select lo_no,lo_name,lo_tel,tr_pic,lo_addr from location where lo_name = #{lo_name}
	</select>
	
</mapper>

