<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"https://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.korea.health.user.model.NoticeMapper">
	<select id="noticeList" resultType="com.korea.health.user.model.NoticeVO">
		select * from notice
	</select>
</mapper>

