@charset "UTF-8";
/* event_page */
.tot{
	width: 100%;
	height: auto;
	background: gray;
	display: #B3E3E3E3;

}

.big{
	width: 100%;
	height :auto;
	display: block;
	text-align: center;
}
.small_div{
width: 500px;
height: 400px;	
margin : 30px 50px 0px 50px;
display: inline-block;
float: left;
}
img{
	width : 500px;
	height : 300px;
}
.main_text{
	font-size: 30px;
	font-family:'나눔스퀘어';
	color: #fff;

}

