<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.korea.health.user.model.event.EventMapper">
	<select id = "list" resultType ="com.korea.health.user.model.event.EventVO">
		SELECT * FROM event order by event_no desc
	</select>
	<select id = "event2" resultType ="com.korea.health.user.model.event.EventVO">
		SELECT event_no,title, detail_img1, detail_img2, detail_img3,e_price, discount FROM event Where event_no=#{en}
	</select>
	<select id ="user_serch" resultType="com.korea.health.user.model.payment.payMember">
		SELECT a.*, b.*, c.*
		FROM UserMember a join One_Pay_list b
		ON a.CUSTOMER_NO = b.USER_NO
			join coupon_join c
		ON a.CUSTOMER_NO= c.USER_NO
		WHERE A.id=#{id} 
	</select>
	
</mapper>