<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.korea.health.user.model.event.EventMapper">

	<select id = "list" resultType ="com.korea.health.user.model.event.EventVO">
      SELECT * FROM event
   </select>
	
	<select id = "event2" resultType ="com.korea.health.user.model.event.EventVO">
		SELECT event_no,title, detail_img1, detail_img2, detail_img3,e_price, discount FROM event Where event_no=#{en}
	</select>
	<select id ="user_serch" resultType="com.korea.health.user.model.payment.PayMember">
		SELECT a.*, b.*, c.*
		FROM UserMember a join One_Pay_list b
		ON a.USER_NO = b.USER_NO
			join coupon_join c
		ON a.USER_NO= c.USER_NO
		WHERE a.user_id = #{id} 
	</select>

	<select id = "payList" parameterType="java.lang.String"
	resultType ="com.korea.health.user.model.payment.Payment_List">
		SELECT * FROM payment_list where payment_no = #{payment_no}
	</select>

	<sql id ="noMax">
		(select max(payment_no)+1 from payment_list)
	</sql>
	<sql id ="noMaxResult">
		(select max(payment_no)+1 from payment)
	</sql>
	
	<insert id = "payment_info" parameterType="com.korea.health.user.model.payment.CardVO2" >
	<selectKey keyProperty="payment_no" resultType="java.lang.Integer" order = "BEFORE">
	<include refid = "noMax"/>
	</selectKey>
	<![CDATA[
		insert into payment_list 
		(payment_no, user_no, p_no, p_title, origin_price, discount_price, coupon_no, point_price, pay_way, payment_date, save_point)	
		values 
		(#{payment_no}, (select user_no from UserMember where user_id= #{id}), (select goods_no from goods where goods_price = #{vo2.real_payment}), 
		(select goods_name from goods where goods_price = #{vo2.real_payment}), #{vo2.origin_price}, #{vo2.discount_price}, #{vo2.coupon_no}, #{vo2.point_price},
		 #{vo2.pay_way}, sysdate, #{vo2.save_point})
		]]>
	</insert>

	<insert id = "payment_result" parameterType="com.korea.health.user.model.payment.CardVO2" >
	<selectKey keyProperty="payment_no" resultType="java.lang.Integer" order = "BEFORE">
	<include refid = "noMaxResult"/>
	</selectKey>
	<![CDATA[
		insert into payment
		(payment_no, user_no, lo_no, goods_no, discount, use_point, payment_method, total_payment, payment_date)	
		values 
		(#{payment_no}, (select user_no from UserMember where user_id= #{id}), (select lo_no from UserMember where user_id= #{id}),
		#{vo2.ticket}, #{vo2.discount}, #{vo2.use_point}, #{vo2.pay_way}, #{vo2.total_payment}, sysdate)
		]]>
	</insert>
	
	<update id="userCntAdd" parameterType="com.korea.health.user.model.payment.Payment_List">
		update usermember set reserve_cnt = reserve_cnt + (select reserv_cnt from goods where goods_no = #{vo2.ticket}) where user_id = #{id}
	</update>
	
	<update id="branchPayAdd" parameterType = "com.korea.health.user.model.payment.Payment_List">
		update location set income = income + (select goods_price from goods where goods_no = #{vo2.ticket}) where lo_no = (select lo_no from usermember where user_id = #{id})
	</update>

	<update id="branchPayDel" parameterType="com.korea.health.user.model.payment.Payment_List">
		UPDATE location set income = income - (select goods_price from goods where goods_no = #{p_no}) where lo_no = (select lo_no from usermember where user_id = #{user_id})
	</update>	
	
	<delete id="coupon_delete" parameterType= "com.korea.health.user.model.payment.CardVO2">
		delete from coupon_join where user_no = (select user_no from UserMember where user_id= #{id}) and coupon_no = #{coupon_no}
	</delete>
	
	<update id="save_up" parameterType="com.korea.health.user.model.payment.CardVO2">
		update usermember set point = #{save_point} where user_id = #{id}
	
	</update>
	
	<select id="payment_sel"  resultType="com.korea.health.user.model.payment.Payment_List">
	select * from payment_list where user_no = (select user_no from usermember where user_id= #{id}) order by payment_no desc
	</select>
	
	<update id ="payment_refund_point" parameterType= "java.lang.String">
	update usermember set point = to_number(point) - to_number((select save_point from payment_list where payment_no = #{pay_no})) where user_id = #{id}
	</update>
	
	<delete id="payment_del" parameterType= "com.korea.health.user.model.payment.Payment_List">
	delete from payment_list where payment_no = #{payment_no}
	</delete>
	<delete id="paymentResult_del" parameterType= "com.korea.health.user.model.payment.Payment_List">
	delete from payment where payment_no = #{payment_no}
	</delete>
	
	<update id="newNum" parameterType="com.korea.health.user.model.payment.Payment_List">
	<![CDATA[
		UPDATE PAYMENT_LIST set payment_no = payment_no - 1 where payment_no > #{payment_no}
	]]>
	</update>	
	<update id="newNum2" parameterType="com.korea.health.user.model.payment.Payment_List">
	<![CDATA[	
		UPDATE PAYMENT set payment_no = payment_no - 1 where payment_no > #{payment_no}
	]]>
	</update>	
	<update id="clearCnt" parameterType="com.korea.health.user.model.payment.Payment_List">
		UPDATE usermember set reserve_cnt = reserve_cnt - (select reserv_cnt from goods where goods_no = #{p_no}) where user_id = #{user_id}
	</update>	
	
	
	
</mapper>