<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.korea.health.user.model.event.EventMapper">
	<select id = "list" resultType ="com.korea.health.user.model.event.EventVO">
		SELECT * FROM event order by event_no desc
	</select>
	<select id = "event2" resultType ="com.korea.health.user.model.event.EventVO">
		SELECT title, detail_img1, detail_img2, detail_img3 FROM event Where event_no=#{en}
	</select>
</mapper>